@font-face {
  font-family: 'Poppins-Black';
  src: url('../fonts/Poppins-Black.ttf') format('ttf');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../fonts/Poppins-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Poppins-BoldItalic';
  src: url('../fonts/Poppins-BoldItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'Poppins-Italic';
  src: url('../fonts/Poppins-Italic.ttf') format('ttf');
}
.nav-bar-content{
  font-family: 'Poppins-BoldItalic';
}
.sidebar-container {
  font-weight: 200;
  position: fixed;
  top: 22px;
  left: 0;
  width: 250px;
  height: calc(100vh - 50px);
  background-color: #ffffff;
  overflow-y: auto;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 5px;
  padding-top: 22px;
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  width: 15%;
}
.sidebar-container-item{
  margin-left: 20px;
 }

.content-container {
  position: fixed;
  top: 22px;
  right: 0;
  width: 250px;
  height: calc(100vh - 50px);
  background-color: #ffffff;
  overflow-y: auto;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 5px;
  padding-top: 22px;
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  width: 84%;
}

.content-content {
  margin-left: 2%;
  border-radius: 5px;
  margin-right: 2%;
  margin-bottom: 2%;
  color: black;
  background-color: white;
  padding-bottom: 66vh;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.active-item {
  background-color: #008080;
  color: #fff;

}

.pagination-wrapper{
  display: grid;
  margin-bottom: 5px;
  margin-left: 80%;
}

.pagination-controls{
  gap: 20px;  

}
.number-page-active {
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: underline; 
}
